/*
            EX1) Write a selector to target the h1 in jumbotron

            
            EX2) Write a selector to target every children of the navbar

            EX3) Write a selector to target the "continue reading..." inside the jumbotron

            EX4) Write a selector to target the first blogpost

            EX5) Write a selector to target the "even" links in the navbar

            EX6) Write a selector to target the last blog post

            EX7) Write a selector to target all the li in the first ordered-list in the sidebar ( Archives )

            EX8) Write a selector to target the second post author

            EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly

            EX10) Write a selector to target the footer
        */



div > h1 {
    color: rgb(245, 121, 20);
}

nav * {
background-color: rgb(175, 175, 175)!important;
}

[title~=continue] {
    margin-left: 200px;
}

div.blog-post:first-of-type {
background-color: grey!important;
}

nav a:nth-child(even) {
    background-color:rgb(248, 248, 248)!important;
}

div.blog-post:last-of-type {
    background-color: rgb(207, 205, 205)!important;
}

main .blog-sidebar div:nth-child(2) > ol > li {
    border-style: solid;
    border-width: 1px;
}

main .blog-post:nth-child(3) .blog-post-meta {
    background-color:rgb(226, 164, 82) !important;
}

.blog-footer > p:nth-child(2) a {
    background-color: rgb(255, 127, 15) !important;
    color: black;
    padding: 5px;
    position: relative;
    left: 340px;

}